---
import { SITE_GITHUB_URL, SITE_LINKEDIN_URL, SITE_LOGO_COLOR } from '../consts';
import GithubLogo from './GithubLogo.astro';
import LinkedinLogo from './LinkedinLogo.astro';

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Sebastian El Khoury. All rights reserved.
	<p>
		Created with <a href="https://astro.build/">Astro</a>
	</p>
	<div class="social-links">
		<a href={SITE_GITHUB_URL} target="_blank">
			<span class="sr-only">Go to my GitHub repo</span>
			<GithubLogo color={SITE_LOGO_COLOR} className="w-10 h-10" />
		</a>
		<a href={SITE_LINKEDIN_URL} target="_blank">
			<span class="sr-only">Go to my LinkedIn profile</span>
			<LinkedinLogo color={SITE_LOGO_COLOR} className="w-10 h-10" />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
