---
import { SITE_GITHUB_URL, SITE_LINKEDIN_URL, SITE_LOGO_COLOR } from '../consts';
import GithubLogo from './GithubLogo.astro';
import LinkedinLogo from './LinkedinLogo.astro';

const today = new Date();
---

<footer class="pt-8 pr-4 pb-24 pl-4 text-lg text-gray-500 text-center">
	&copy; {today.getFullYear()} Sebastian El Khoury. All rights reserved.
	<p>
		Created with <a href="https://astro.build/">Astro</a>
	</p>
	<div class="flex justify-center gap-4 mt-4">
		<a
			href={SITE_GITHUB_URL}
			target="_blank"
			class="no-underline text-gray-500 hover:text-gray-700"
		>
			<span class="sr-only">Go to my GitHub repo</span>
			<GithubLogo color={SITE_LOGO_COLOR} className="w-10 h-10" />
		</a>
		<a
			href={SITE_LINKEDIN_URL}
			target="_blank"
			class="no-underline text-gray-500 hover:text-gray-700"
		>
			<span class="sr-only">Go to my LinkedIn profile</span>
			<LinkedinLogo color={SITE_LOGO_COLOR} className="w-10 h-10" />
		</a>
	</div>
</footer>
<style>
	footer {
		background: linear-gradient(var(--gray-gradient)) no-repeat;
	}
</style>
