---
import HeaderLink from './HeaderLink.astro';
import {
	SITE_TITLE,
	SITE_LOGO_COLOR,
	SITE_LINKEDIN_URL,
	SITE_GITHUB_URL,
} from '../consts';
import BlogLogo from './BlogLogo.astro';
import GithubLogo from './GithubLogo.astro';
import LinkedinLogo from './LinkedinLogo.astro';
---

<header class="m-0 py-0 px-4 bg-white shadow-md">
	<nav class="flex items-center justify-between">
		<h2 class="!m-0 text-base">
			<a
				href="/"
				class="!flex !items-center !gap-2 !py-4 !px-2 !text-black !border-b-4 !border-transparent !no-underline"
			>
				<BlogLogo
					className="border-2 border-blue-700 rounded-full w-10 h-10 p-0.5"
					color="#001eff"
				/>
				<span class="text-xl">{SITE_TITLE}</span>
			</a>
		</h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="flex items-center gap-2">
			<a
				href={SITE_GITHUB_URL}
				target="_blank"
				class="!py-4 !px-2 !text-black !border-b-4 !border-transparent !no-underline"
			>
				<GithubLogo color={SITE_LOGO_COLOR} className="w-10 h-10" />
			</a>
			<a
				href={SITE_LINKEDIN_URL}
				target="_blank"
				class="!py-4 !px-2 !text-black !border-b-4 !border-transparent !no-underline"
			>
				<LinkedinLogo color={SITE_LOGO_COLOR} className="w-10 h-10" />
			</a>
		</div>
	</nav>
</header>
<style>
	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}

	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
